<div id="fb-root"></div>
<p>Login</p>
<form [formGroup]="seekerForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="firstName" placeholder="username/email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="password">
    </div>
    <br>
    <a href="https://www.w3schools.com/html/html_links.asp">Forgot username/password</a>
    <p>Sign-in with
        <p>
            <button type="button">Facebook</button>
            <button type="button">Google</button>
            <p><a href="file:///Users/elainemnkubitu/eventz-UI/src/app/eventZ/accountCreation/accountCreation.component.html">SIGN
                    UP</a> </p>

</form>