<div class="scrollmenu">
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">About Us</a></li>
        <li><a routerLink="/">Services</a>
        <li><a href="about.asp">Help/FAQ</a></li>
        <li><a href="about.asp">Contact Us</a></li>
    </ul>
</div>
<h4>Create Your EventZ Account </h4>
<br>

<form [formGroup]="seekerForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label>First Name<br>
            <input type="text" class="form-control" formControlName="firstName" placeholder="">
            <div class="form-group">
                <label>Last Name </label><br>
                <input type="text" class="form-control" formControlName="lastName" placeholder="">
            </div>
            <div class="form-group">
                <label>Phone Number</label><br>
                <input type="text" class="form-control" formControlName="lastName" placeholder="0712XXXXXX">
            </div>
            <div class="form-group">
                <label>Contact Email</label><br>
                <input type="text" class="form-control" formControlName="lastName" placeholder="abc@net.com">
            </div>
            <div class="form-group">
                <label>Password</label><br>
                <input type="text" class="form-control" formControlName="lastName" placeholder="********">
            </div>
            <div class="form-group">
                <label>Confirm Password</label><br>
                <input type="text" class="form-control" formControlName="lastName" placeholder="">
            </div>

            <input type="submit" value="CREATE ACCOUNT" id="submit">