<form>
    <h1>Let's Make Planning Your Event Easy !</h1>
  
    <p> Select the event you are planning for</p>
    <select>
      <option value="wedding" selected>Wedding</option>
      <option value="babyShower">Baby Shower</option>
      <option value="birthday">Birthday</option>
      <option value="sendOff">Send-off</option>
      <option value="photoShoot">Photoshoot</option>
      <option value="camping">Camping/Safari</option>
      <option value="bachelors">Bachelor's/Bachelorette</option>
      <option value="graduation">Graduation</option>
      <option value="conference">Conference</option>
      <option value="endYearParty">End-Year Party</option>
      <option value="reunion">Reunion</option>
      <option value="funeral">Funeral</option>
    </select>
    
    <div>
    <label>
      Name:
      <input type="text" formControlName="name">
    </label> </div>
    <div><label>
      Phone Number:
      <input type="text" formControlName="phoneNumber">
    </label>
    </div>
  <div>
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
  </div>
  <div>
    <label>
      Event Date:
      <input type="text" formControlName="date">
    </label>
  </div>
  <div>
    <label>
      Location:
      <input type="text" formControlName="location">
    </label>
  </div>
    
    <p> Select the services you need at your event then press the submit button </p>
    <input type="checkbox" name="catering" value="Catering" checked> Catering<br>
      <input type="checkbox" name="bakery" value="Bakery" > Bakery<br>
      <input type="checkbox" name="photography" value="Photography" > Photography<br>
      <input type="checkbox" name="transport" value="Transport/Travel"> Transport/Travel<br>
      <input type="checkbox" name="decor" value="Decor" > Decor<br>
      <input type="checkbox" name="invitation" value="Invitation/Cards"> Invitations/Cards<br>
      <input type="checkbox" name="venue" value="Venue" > Venue<br>
      <input type="checkbox" name="styling" value="Styling"> Styling<br>
      <input type="checkbox" name="dressing" value="Dressing" > Dressing<br>
      <input type="checkbox" name="religiousServices" value="Religious Services"> Religious Services<br>
      <input type="checkbox" name="emcee" value="Emcee" > Emcee<br>
      <input type="checkbox" name="entertainment" value="Entertainment"> Entertainment<br>
      <input type="checkbox" name="tents" value="Tent" > Tents<br>
      <input type="checkbox" name="camping" value="Camping" > Camping<br>
      <input type="checkbox" name="accomodation" value="Accomodation"> Accomodation<br>
      <div>
      <input type="submit" value="Submit">
      </div>

    </form>
    