.form {
    width: 500px;
    clear: both;
  }
  
  .form input {
    width: 100%;
    clear: both;
  }

  .rsearch{
    width: 20em;  
    height: 2em;
    background-color: darkgreen;
  }

  .reset{
    width: 20em;  
    height: 2em;
    background-color: crimson
  }
  