
 <div class="scrollmenu">
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">About Us</a></li>
        <li><a href="file:///Users/elainemnkubitu/eventz-UI/src/app/eventZ/accountCreation/accountCreation.component.html">Services</a></li>
        <li><a href="about.asp">Help/FAQ</a></li>
        <li><a href="about.asp">Contact Us</a></li>
      </ul>
  </div>
<div>

<h1>Event Planning Made Easy!</h1>
  <p>
    These are the service providers available. Please click on the image or the links to see more details or contact the providers <br>
    

    <h2>Service Providers List</h2>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="mountains.jpg" alt="Mountains" style="width:100%" >
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="nature.jpg" alt="Nature" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div>

<div class="content">
  <img src="bear.jpg" alt="Bear" style="width:100%">
  <h3>Some Other Work</h3>
  <p>Lorem ipsum..</p>
</div>

<!-- END MAIN -->


